<a href="https://colab.research.google.com/github/serbible/2022/blob/master/1_python_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬(python)
- 노트북 링크: bit.ly/3Fm2u3Q (Drive로 복사)
- 실행: 실행 아이콘 또는 Shift + Enter

# 데이터 분석을 위한 파이썬 기초1

- 직접 타이핑 하면서 학습
- 본인 속도에 맞게 동영상 속도 조절

## 출력
- print괄호 안에 숫자 또는 문자 (단 문자일 경우 ' 또는 " 활용)

In [1]:
# 숫자
# print(2022)

In [2]:
# 문자 (큰따옴표)
# print("happy")

In [3]:
# 문자 (작은따옴표)
# print('happy')

## 주석
- #을 앞에 사용하면 #뒤에 줄(내용)은 무시함

In [4]:
# 주석입니다.
# print("파이썬 공부 중") # 출력문 
# print("파이썬은 쉽다")

- 한 줄만 주석 처리(해제) : Ctrl + / (맥 Command + /)
- 여러 줄 주석 처리(해제) : 블록지정 후 Ctrl + / (맥 Command + /)

## 산술연산자
- +, -, *, /
- //, %, **

In [5]:
# 정수 + 정수
# print(1+2)

In [6]:
# 실수 + 정수
# print(3.44+5)

In [7]:
# 문자열 더하기(합친다)
# print("he" + "llo")

In [8]:
# 몫
# 16//3

In [9]:
# 나머지
# 16%3

In [10]:
# 제곱
# 4**2

## 자료형(타입)
- 정수형: int
- 실수형: float
- 문자열: str
- 참/거짓: bool

In [11]:
# 정수형
# type(1)

In [12]:
# 실수형
# type(1.1)

In [13]:
# 문자열
# type('hello')
# type('3')

In [14]:
# 참/거짓
# type(True)  
# type(False)

## 변수

In [15]:
# box변수 값에 10 대입
# box = 10

In [16]:
# box변수 값 출력
# print(box)

In [17]:
# box2변수 값에 20 대입
# box2 = 20

In [18]:
# 변수(10) + 변수(20)
# print(box + box2)

In [19]:
# 30 = 10 + 20
# box3 = box + box2  
# print(box3)

In [20]:
# 20 = 10 + 10 
# box = box + box  
# print(box)

##  형변환

In [21]:
# str(문자)
# box = "15"
# type(box)

In [22]:
# str -> int(숫자)
# box = int(box) + 10
# type(box)

In [23]:
# type(str(box))
# box = "60"
# int(box)

## 비교연산자

In [24]:
# 크다(참)
# 10 > 5

In [25]:
# 작다
# 10 < 5

In [26]:
# 같거나 크다
# 10 >= 5

In [27]:
# 같다
# 10 == 10

In [28]:
# 같지 않다
# 10 != 5

In [29]:
# 같다
# a = 10
# b = 10
# a == b

In [30]:
# 같거나 크다
# a >= b

In [31]:
# False
# a > b

In [32]:
# c = "빅데이터"
# d = "빅데이터"
# e = "데이터"

# print(c == d)
# print(d == e)

## 조건문

- 들여쓰기: tab
- 내어쓰기: shift + tab

In [33]:
# if True:
#     print("참입니다")

In [34]:
# if False:
#     print("실행안됨")

In [35]:
# box = 10
# if box < 5:
#     print("box가 크다")

In [36]:
# box = 1

# if box == 10:
#     print("box는 10입니다")
#     print("box")
# else:
#     print("box는 10이 아닙니다.")

In [37]:
# box = 5

# if box >= 10:
#     print("box는 10 이상입니다.")
# else:
#     print("box는 10 미만입니다.")

In [38]:
# box = 2

# if box >= 10:
#     print("box는 10 이상입니다.")
# elif box < 10 and box >= 5:
#     print("box는 5 이상 10 미만입니다.")
# else:
#     print("box는 5 미만입니다.")

In [39]:
# box = 2

# if box >= 10:
#     print("box는 10 이상입니다.")
# elif box < 10 and box >= 5:
#     print("box는 5 이상 10 미만입니다.")
# elif box < 4 and box >= 3:
#     print("box는 3 이상 4 미만입니다.")
# else:
#     print("box는 2 이하입니다.")

# 데이터 분석을 위한 파이썬 기초2

## 리스트

In [ ]:
# 여러개의 값을 담을 때 여러개의 변수 사용?
# box1 = 4
# box2 = 2
# box3 = 10
# box4 = 6
# box5 = 8

In [ ]:
# 리스트 변수
# listbox = [4,2,10,6,8]
# print(listbox)

In [ ]:
# type
# type(listbox)

In [ ]:
# 문자열
# listbox = ['네모','세모','동그라미']
# print(listbox)

In [ ]:
# 추가
# listbox.append('별')
# print(listbox)

In [ ]:
# listbox = [4,2,10,6,8]
# listbox = ['네모','세모','동그라미']
# listbox.sort()
# listbox

## 딕셔너리(Dictionary)

In [ ]:
# 딕셔너리
# dictbox = {'name':'네모', 'level': 5}
# print(dictbox)

In [ ]:
# type
# type(dictbox)

In [ ]:
# 키(key)로 값 출력하기
# print(dictbox['name'])
# print(dictbox['level'])

In [ ]:
# 값 변경하기
# dictbox['level'] = 6
# dictbox['level']

In [ ]:
# 키 값
# dictbox.keys()

In [ ]:
# 밸류 값
# dictbox.values()

## 인덱싱과 슬라이싱

In [ ]:
# listbox = [2,4,6,8,10]

# list[index] 원소 값
# print(listbox[0])  # index 첫번째 값
# print(listbox[3])  # index 3 (네번째)

In [ ]:
# index 마지막 값
# print(listbox[-1])

In [ ]:
# list[start:stop]
# index 0부터 2까지
# print(listbox[0:3])

In [ ]:

# index 3부터 끝까지
# print(listbox[3:])

In [ ]:
# index 1부터 2까지
# print(listbox[1:3])

In [ ]:
# list[start:stop:step]
# index 처음부터 끝까지, 한칸 건너띄기
# listbox[::2]

## 내장 함수

In [ ]:
# 합계
# listbox = [4,2,10,6,8]
# sum(listbox)

In [ ]:
# 최대값
# max(listbox)

In [ ]:
# 최소값
# min(listbox)

In [ ]:
# 길이(갯수)
# len(listbox)

In [ ]:
# 반올림
# round(1.2345, 2)
# round(1.2375, 2)

## 문자열

### 문자열 변경

In [ ]:
# 한 단어 변경
# text = "빅데이터 분석기사 파이썬 공부"
# text = text.replace("공부","스터디")
# text

In [ ]:
# 여러 단어 변경
# text = "빅데이터 분석기사 파이썬 공부"
# text = text.replace("파이썬","머신러닝").replace("분석기사","분석을 위한")
# text

### 문자열 슬라이싱

In [ ]:
text = "안녕하세요 퇴근후딴짓입니다."

In [ ]:
# 문자열 슬라이싱
# text[:2]

In [ ]:
# 월-일
# date = "2022-12-25"
# date[5:]

## 슬라이싱 연습

In [ ]:
# 월만 출력
# date = "2022-12-25"
# date[5:7]

In [ ]:
listbox = ["감사", "행복", "사랑", "습관", "긍정", "변화", "성장", "공감", "희망"]
listbox

In [ ]:
# 갯 수

In [ ]:
# 첫번째 값

In [ ]:
# 마지막 값

In [ ]:
# 처음부터 세번째 값까지

In [ ]:
# 마지막 앞 단어

In [ ]:
# 행복과 사랑만 출력

### 풀이

In [ ]:
# 갯 수
# len(listbox)

In [ ]:
# 첫번째 값
# listbox[0]

In [ ]:
# 마지막 값
# listbox[-1]

In [ ]:
# 처음부터 세번째 값까지
# listbox[:3]

In [ ]:
# 마지막 앞 단어
# listbox[7:8]
# listbox[7:-1]
# listbox[-2:-1]

In [ ]:
# 행복과 사랑만 출력
# listbox[1:3]

# 자주 활용되는 파이썬 예제

## 반복문

In [ ]:
# 0부터 4까지 반복 출력
for item in range(5):
    print(item)

In [ ]:
# 5부터 9까지 반복 출력
for i in range(5,10):
    print(i)

In [ ]:
# 리스트에 있는 값, 반복문을 통해 출력
listbox = [2,4,6,8,10]
for item in listbox:
    print(item)

In [ ]:
# 리스트에 있는 값 반복문을 통해 +1 한 값, 출력
listbox = [2,4,6,8,10]
for item in listbox:
    # print(item + 1)
    result = item + 1
    print(result)

In [ ]:
# 리스트에 있는 문자열 출력
listbox = ['네모','세모','동그라미']
for i in listbox:
    print(i)

In [ ]:
# 리스트에 있는 문자열과 인덱스값 출력
listbox = ['네모','세모','동그라미', '별']
for index, item in enumerate(listbox):
    print(index)
    print(item)

In [ ]:
# Tip (print(f스트링))
for index, item in enumerate(listbox):
    print(f'인덱스{index}인 값은{item}입니다.')

### Quiz

In [ ]:
# 리스트에 있는 name, age, phone 컬럼명을 반복문을 통해 출력하시오
cols = ['name', 'age', 'phone']
for col in cols:
    print(col)

## 함수

### 기본함수

In [ ]:
# 함수 정의
def hello():
    print("안녕하세요!")

In [ ]:
# 함수 호출
hello()

안녕하세요!

### 함수(파라미터)

In [ ]:
# 함수 정의 (파라미터)
def plus(x, y):
    print(x+y)

In [ ]:
# 함수 호출
a=2
b=3
plus(a,b)

5

### 함수(리턴 값)

In [ ]:
# 함수 정의 (리턴 값)
def plus(x, y):
    result = x+y
    return result

In [ ]:
# 함수 호출
a = plus(2,3)
print(a)

5

In [ ]:
# 리턴 값 받기

In [ ]:
# 리턴값이 2개 (최소, 최대값을 구하는 함수)
listbox = [15, 46, 78, 24, 56]
def min_max(data):
    mi = min(data)
    ma = max(data)
    return mi, ma

a, b = min_max(listbox)
print(a,b)

15 78

In [ ]:
# 평균을 구하는 함수
listbox = [15, 46, 78, 24, 56]

def mean(data):
    return sum(data) / len(data)

mean(listbox)

43.8

### Quiz

In [ ]:
# 주어진 리스트의 최대값 - 최소값을 구하는 함수를 만드시오
# listbox = [15, 46, 78, 24, 56]

def maxmin(data):
    return max(data) - min(data)

maxmin(listbox)

63

In [ ]:
78-15

63